atom-panel-container {
    .tree-view {
        &:focus {
            li.directory.selected {
                &.status-modified > .list-item {
                    color: darken(@yellow, 50%);
                    &::after {
                        background-color: lighten(@yellow, 5%);
                    }
                }
                &.status-added > .list-item {
                    color: darken(@green, 50%);
                    &::after {
                        background-color: lighten(@green, 5%);
                    }
                }
                &.status-renamed > .list-item {
                    color: darken(@blue, 50%);
                    &::after {
                        background-color: lighten(@blue, 5%);
                    }
                }
                &.status-removed > .list-item {
                    color: darken(@red, 50%);
                    &::after {
                        background-color: lighten(@red, 5%);
                    }
                }
            }
            li.list-nested-item > .list-item,
            li:not(.list-nested-item) {
                &.selected {
                    &.status-modified {
                        color: darken(@yellow, 50%);
                        &::before {
                            background-color: lighten(@yellow, 5%);
                        }
                    }
                    &.status-added {
                        color: darken(@green, 50%);
                        &::before {
                            background-color: lighten(@green, 5%);
                        }
                    }
                    &.status-renamed {
                        color: darken(@blue, 50%);
                        &::before {
                            background-color: lighten(@blue, 5%);
                        }
                    }
                    &.status-removed {
                        color: darken(@red, 50%);
                        &::before {
                            background-color: lighten(@red, 5%);
                        }
                    }
                }
            }
        }
    }
}
